* {
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: #c5512a;
    font-family: Arial;
}


/* Header */

#name {
    float: left;
    margin-left: 20px;
    font-size: 125%;
    color: white;
}

#menu {
    font-size: 80%;
    letter-spacing: 3px;
    text-align: right;
   
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: solid 3px darkred;
}

#menu li {
    display: inline-block;
    margin-right: 30px;
    color: white;
}

#menu a {
    color: white;
}

#name, #menu {
    line-height: 75px;
}





#main-image {
    background: url('../images/il_1588xN.1419613845_8dbj.webp') no-repeat center center;
    height: 500px;
    width: 100%;
    opacity: .5;

}

/* footer */

footer{
    height: 140px;
    bottom: 0;
    width: 100%;
}
#social-media-links {
    text-align: center;
} 

#social-media-links > li {
    display: inline;
}

#social-media-links i {
    margin-top: 2%px;
    padding: 5%;
    font-size: 150%;
    color: white;
}


/* proudcts */

div.gallery {
    margin: 50px;
    border: 1px solid white;
    float: left;
    width: 180px;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5px;
    text-align: center;

}

/* contact page */

.contact-section {
    clear: left;
    background: url("../images/candel-holder.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    color: white;
    position: relative;
}

.contact-form {
    margin:15px 10% 0 0;
    color:#fff;
    background-color:rgba(60, 60, 60, 0.6);
    max-width:400px;
    left: 10%;
    position: absolute;
    padding:30px;
    height: 600px;

}
.contact-form > h2 {
    text-align: center;
}

.text-input {
    width: 100%;
    margin: 5px 0 20px 0;
    padding: 5px 0 5px 5px;
    border: 2px solid white;
}

.text-input:hover {
    border-color: #d82727;
}

#county {
    width: 100%;
    margin: 5px 0 20px 0;
    padding: 5px 0 5px 5px;
    border: 2px solid white;
}
#county:hover {
    border-color: #d82727;
}


#submit-button {
    padding: 5px 5px ;
    text-align: center;
    background-color: red;
    color: white;
}
#submit-button:hover {
    background-color: white;
    color: red;
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){

    #name {
        
        float: none;
        clear: left;
        text-align: center;
        margin: 0;
        
    }

    
    #menu {
        clear: left;
        line-height: 30px;
        text-align: center;
        margin: 0;
        }

    #image-container{
        margin-top: 100px;
    }

    #main-image {
        margin-top: 10ppx;
    }


        
}

