@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: #c5512a;
    font-family: Arial;
    min-height: 100vh; 
    margin: 0; 
    font-family: Lato, sans-serif;
    display: grid;
    
}




/* Header */

#name {
    float: left;
    margin-left: 20px;
    font-size: 125%;
    color: white;
}

#menu {
    font-size: 80%;
    letter-spacing: 3px;
    text-align: right;
   
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: solid 3px darkred;
}

#menu li {
    display: inline-block;
    margin-right: 30px;
    color: white;
}

#menu a {
    color: white;
}

#name, #menu {
    line-height: 75px;
}


#image-container {
    position: relative;
}

#tag-line {
    position: absolute;
    font-size: 225%;
    color: white;
    bottom: 150px;
    right: 150px;
    height: 200px;
    width: 300px;
    text-align: center;
    font-family: Lato, sans-serif;
}


#main-image {
    background: url('../images/il_1588xN.1419613845_8dbj.webp') no-repeat center center;
    height: 500px;
    width: 100%;
    opacity: .5;

}

.defuser {
    float: left;
    margin: 5px;
    padding: 5px;
    height: 150px;
    width: 150px;
}

.welcome {
    color: white;
    margin-bottom: 25px;
    text-align: center;
}

.about-us{
    color: white;
    margin-bottom: 20px;
    margin-left: 10px;
}

#p-section {
    margin: 100px;
    padding: 10px;
}

#p-about-us {
    text-align: justify;
    color: white;
    letter-spacing: 2px;
    word-spacing: 3px;
    
    
}

/* footer */

footer{
    height: 140px;
    margin: 1%;
    padding: 5%;
    
}

#social-media-links {
    text-align: center;
} 

#social-media-links > li {
    display: inline;
}

#social-media-links i {
    margin-top: 2%;
    padding: 5%;
    font-size: 150%;
    color: white;
}


/* proudcts */



div.gallery {
    margin: 65px;
    border: 1px solid white;
    float: left;
    width: 180px;
}

div.gallery img {
    width: 100%;
    height: 250px;
}

div.desc {
    padding: 5px;
    text-align: center;
    color: white;
    background-color: black;

}

/* contact page */

.contact-section {
    clear: left;
    background: url("../images/candel-holder.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    color: white;
    position: relative;
}

.contact-form {
    margin:15px 10% 0 0;
    color:#fff;
    background-color:rgba(60, 60, 60, 0.6);
    max-width:400px;
    left: 10%;
    position: absolute;
    padding:30px;
    height: 600px;

}
.contact-form > h2 {
    text-align: center;
}

.text-input {
    width: 100%;
    margin: 5px 0 20px 0;
    padding: 5px 0 5px 5px;
    border: 2px solid white;
}

.text-input:hover {
    border-color: #d82727;
}

#county {
    width: 100%;
    margin: 5px 0 20px 0;
    padding: 5px 0 5px 5px;
    border: 2px solid white;
}
#county:hover {
    border-color: #d82727;
}


#submit-button {
    padding: 5px 5px ;
    text-align: center;
    background-color: red;
    color: white;
}
#submit-button:hover {
    background-color: white;
    color: red;
}

/* For medium screens sizes from 950px wide and down */

@media screen and (max-width: 1250px){

    div.gallery {
        width: 25%;
    
    }
}




@media screen and (max-width: 950px){

    #name {
        
        float: none;
        clear: left;
        text-align: center;
        margin: 0;
        
    }

    
    #menu {
        clear: left;
        line-height: 30px;
        text-align: center;
        margin: 0;
        }

    #image-container{
        margin-top: 100px;
    }

    #main-image {
        margin-top: 10ppx;
    }


        
}